venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.out
*.err

.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
.cache/

.env
.env.*
*.ini
*.cfg
*.toml

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.db
*.sql
*.sqlite3

*.bson
*.json

mypy_cache/
pylint_report.txt
pytest_report.xml
flake8_report.txt

.dockerignore
Dockerfile
docker-compose.yml

.ipynb_checkpoints

*.bak
*.swp
*.tmp
*.temp
*.old

build/
dist/
*.o
*.so
*.a
*.dll
*.dylib


.git/